[Desktop Entry]
Version=1.0
Name=Postkali
Comment=Configure Kali using Nettitude build script
Exec=ln -s /root/postkali /root/Desktop/postkali
Icon=utilities-terminal
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true