[Desktop Entry]
Version=1.0
Name=Postkali
Comment=Configure Kali using Nettitude build script
Exec=gnome-terminal -e /root/postkali 2>&1 | tee /root/postKali-build.log
Icon=utilities-terminal
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true